form.style {
  margin: auto;
  max-width: 300px;
}

form.style input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  background: #f1f1f1;
}

form.style button {
  float: left;
  width: 30%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.style button:hover {
  background: #0b7dda;
}

form.style::after {
  content: "";
  clear: both;
  display: table;
}
